config/.config/btop/btop.log
config/.config/ncspot/userstate.cbor
config/.config/fish/fish_variables
config/.config/zsh/zsh_history
config/.config/ranger/plugins/__pycache__/
config/.config/tmux/plugins/
config/.config/tmux/resurrect/
config/.config/zsh/plugins/
config/.config/ranger/plugins
config/.config/OpenRGB/logs
config/.config/OpenRGB/plugins
home/.newsboat/cache.db
home/.newsboat/cache.db.lock
home/.newsboat/history.cmdline
config/.config/bat/syntaxes/
config/.config/corectrl/corectrl.ini
config/.config/helix/runtime/
