[user]
	name = Joseph Hansen
	email = 56806498+Artach-byte@users.noreply.github.com
[init]
	defaultBranch = main
[color]
	ui = auto
[core]
	editor = hx
	excludesFile = /home/joe/.gitignore
	# pager = delta
[credential "https://github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
